body {
  background-color: #17395e;
}

.header {
  width: 100%;
  background-image: url('./images/header.png');
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: auto 100%;
}

.container {
  max-width: 900px;
  margin: auto;
  width: 100%;
}

.header1 {
  font-family: "trebuchet ms", tahoma, "Times New Roman", Times, serif;
  font-size: 71px;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
  padding-top: 0px;
  padding-left: 20px;
  padding-bottom: 4px;
  letter-spacing: -2px;
  font-style: italic;
  text-transform: uppercase;
}

.header2 {
  font-family: "trebuchet ms", tahoma, "Times New Roman", Times, serif;
  font-size: 21px;
  color: #ffffff;
  text-align: left;
  font-weight: normal;
  padding-top: 30px;
  padding-bottom: 26px;
  padding-left: 20px;
  letter-spacing: -1px;
  font-style: italic;
  text-transform: uppercase;
}

.bg-left {
  background-image: url("images/b1.png");
  background-repeat: no-repeat;
  height: 20px;
  width: 45px;
}

.bg-right {
  background-image: url("images/b2.png");
  background-repeat: no-repeat;
  height: 20px;
  width: 45px;
}

.bg-lleft {
  background-image: url("images/b5.png");
  background-repeat: repeat-y;
  width: 27px;
}

.bg-rright {
  background-image: url("images/b4.png");
  //background-repeat: repeat-y;
  //width: 16px;
  width: 20px;
  background-position: right;
}

.bg-bottom {
  background-image: url("images/b8.png");
  //background-repeat: repeat-y;
  height: 20px;
  width: 100%;
}

.bg-bleft {
  background-image: url("images/b6.png");
  background-repeat: no-repeat;
  width: 45px;
  height: 20px;
}

.bg-bright {
  background-image: url("images/b7.png");
  background-repeat: no-repeat;
  width: 45px;
  height: 20px;
}

.bg-top {
  width: 100%;
  height: 20px;
  background-image: url("images/b3.png");
}

.bg-row {
  width: 100%;
  display: flex;
}

.full {
  width: 100%;
  background-color: white;
  box-sizing: border-box;
  padding-right: 80px;
  padding-left: 80px;
}

//
.subhead {
  font-family: "trebuchet ms", arial;
  color: #000000;
  line-height: 22px;
  font-weight: bold;
  text-align: Center;
  font-size: 16px;
  padding: 0px 87px;
  padding-bottom: 4px;
  padding-top: 23px;
}

.head0 {
  font-family: "trebuchet ms", tahoma, "Times New Roman", Times, serif;
  font-size: 35px;
  color: #e90f64;
  line-height: 32pt;
  text-align: center;
  font-weight: bold;
  padding-bottom: 24px;
  padding-top: 9px;
  letter-spacing: 0px;
  font-style: italic;
}

.head3 {
  font-family: "trebuchet ms", tahoma, "Times New Roman", Times, serif;
  font-size: 28px;
  color: #0861a6;
  line-height: 22pt;
  text-align: center;
  font-weight: normal;
  padding-bottom: 30px;
  letter-spacing: 0px;
  font-style: normal;
}

.author {
  font-family: "trebuchet ms", arial;
  font-size: 15px;
  color: #547c9b;
  line-height: 24px;
  font-weight: normal;
  text-align: left;
}

p {
  font-family: "trebuchet ms", arial;
  font-size: 14x;
  color: #000000;
  line-height: 23px;
  text-align: left;
}

.bigletter {
  float: left;
  font-size: 52pt;
  line-height: 0.8;
  margin-left: 0px;
  color: #dc3407;
  font-family: "trebuchet ms", arial;
}

.cen {
  text-align: center;
}

.vidbox {
  max-width: 480px;
  margin: auto;
  border: 4px double #a5a5a5;
  img {
    width: 100%;
    min-height: 320px;
    max-width: 480px;
  }
}

.head4 {
  font-family: "trebuchet ms", arial, "Times New Roman", Times, serif;
  font-size: 30px;
  color: #275980;
  line-height: 27pt;
  text-align: center;
  font-weight: bold;
  padding-bottom: 3px;
  letter-spacing: 0px;
  padding-top: 3px;
  font-style: normal;
}

li {
  background-image: url(images/t3_11.jpg);
  background-repeat: no-repeat;
  background-position: 0 .18em;
  padding-left: 1.9em;
  margin: 14px 0;
  font-family: "trebuchet ms", arial, "Times New Roman", Times, serif;
  font-size: 15px;
  color: #a14262;
  line-height: 15pt;
  text-align: left;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  padding-top: 10px;
  margin-left: 25px;
}

.signature {
  font-family: "trebuchet ms", arial;
  font-size: 17px;
  color: #484848;
  line-height: 20px;
  text-align: left;
  font-weight: bold;
  font-style: italic;
  padding-bottom: 20px;
}

.ps {
  font-family: "trebuchet ms", arial;
  font-size: 15px;
  color: #484848;
  line-height: 20px;
  text-align: left;
  font-weight: normal;
  font-style: normal;
  padding-top: 5px;
  padding-bottom: 17px;
}

.guarantee-head {
  font-family: "trebuchet ms", arial, "Times New Roman", Times, serif;
  font-size: 23px;
  color: #1e1e1e;
  line-height: 23pt;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  margin-left: 0px;
  margin-bottom: 0px;
  padding: 0px 0px;
}

.guarantee-text {
  font-family: arial;
  font-size: 13px;
  color: #5a5a5a;
  line-height: 21px;
  font-style: normal;
  padding-bottom: 0px;
  text-align: left;
  padding: 5px 0px;
  padding-top: 14px;
}

.guarantee-table {
  border: 1px dashed #cccccc;
  background-color: #f1f1f1;
  padding: 16px;
  max-width: 500px;
  margin: auto;
}

//
.bonus-head {
  font-family: "trebuchet ms", arial, "Times New Roman", Times, serif;
  font-size: 18px;
  color: #fbc040;
  line-height: 22pt;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  padding-bottom: 6px;
  padding-top: 0px;
}

.bonus2 {
  //background: url(../images/t2_16.jpg) repeat-y;
}


.os-bonus {
  max-width: 580px;
  margin: auto;
  border-radius: 9px;
  //background-color: #3b3b3b;
  //box-shadow: 0 0 5px rgba(0, 0, 0, 1), inset -5px -10px 15px rgba(20, 20, 20, 0.8);

  .bonus1 {
    background-image: url('images/optibox.png');
    background-repeat: repeat-x;
    background-size: auto 100%;
    //background-color: black;
    border-radius: 9px 9px 0px 0px;
    width: 80%;
    margin: auto;
  }
  .bonus2 {
    padding-top: 30px;
    padding-bottom: 35px;
    background-color: #b6d1e6;
    border-radius: 12px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 1), inset 0px 0px 25px rgba(190, 0, 160, 0.2);
  }

  .bonus-head {
    font-family: "trebuchet ms", arial, "Times New Roman", Times, serif;
    font-size: 18px;
    color: #d7edff;
    line-height: 22pt;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    padding-bottom: 5px;
    padding-top: 5px;
  }

  .bonus-text {
    font-family: "trebuchet ms", arial, "Times New Roman", Times, serif;
    font-size: 12px;
    line-height: 21px;
    color: #25577e;
    font-style: normal;
    padding: 0px 40px;
    padding-top: 0px;
  }
}

.mail {
  max-width: 600px;
  margin: auto;
  border: 1px solid black;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: inset 0 0 15px rgba(90, 90, 90, 0.5);

  .product1 {
    background: url('images/mail.png');
    background-repeat: repeat-x;
    background-size: auto 100%;
  }
  .product-head {
    font-family: "trebuchet ms", tahoma, "Times New Roman", Times, serif;
    font-size: 19px;
    color: #ffffff;
    line-height: 22pt;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .product-text {
    font-family: "trebuchet ms", arial, "Times New Roman", Times, serif;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    font-style: normal;
    padding: 0px 30px;
    padding-top: 11px;
    padding-bottom: 20px;
  }
}

.os-message {
  max-width: 600px;
  margin: auto;
  border: 2px solid white;
  border-radius: 12px;
  //box-shadow: 0 0 8px rgba(150,150,150,0.8), inset 0px 0px 15px rgba(220,220,220,1);
  background-color: #fbfbfb;

  .testimonial1 {
    box-shadow: 0 0 10px rgba(50, 50, 50, 1); //, inset 0px 0px 15px rgba(220,220,220,1);
    background-color: #c02d61;
    border-radius: 12px 12px 0px 0px;
    width: 80%;
    margin: auto;
  }

  .testimonial-head {
    padding-top: 5px;
    font-family: "trebuchet ms", tahoma, "Times New Roman", Times, serif;
    font-size: 19px;
    color: #ffffff;
    line-height: 20pt;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    padding-bottom: 5px;
  }
  .testimonial-text {
    font-family: "trebuchet ms", arial, "Times New Roman", Times, serif;
    position: relative;
    //bottom: 30px;
    font-size: 13px;
    line-height: 21px;
    color: #b62363;
    font-style: italic;
    padding: 0px 35px;
    padding-top: 12px;
    text-align: left;
  }
  .testimonial2 {
    background-color: #ffc4d8;
    border-radius: 12px;
    border: 2px solid #f9e5f0;
    box-shadow: 0 0 10px rgba(150, 150, 150, 1), inset 0px 0px 15px rgba(220, 220, 220, 1);
  }
}

.footer {
  font-family: verdana;
  font-size: 9px;
  color: #9ba9b4;
  text-decoration: none;
  text-align: center;
  padding: 0;
  margin-top: 0px;
  padding-bottom: 14px;
  position: relative;
  top: 15px;
}

.footer a {
  display: inline-block;
  font-family: verdana;
  font-size: 9px;
  color: #9ba9b4;
  text-decoration: none;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
}

.optinbox {
  border: 4px dashed #d01865;
  background-color: #e3eef7;
  font-family: "trebuchet ms", arial;
  font-size: 14px;
  color: black;
  max-width: 350px;
  margin: auto;
  padding: 35px 30px;

  .optintext {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
  }
  .optinprivacy a {
    font-size: 9px;
    text-align: center;
    color: gray;
  }
  div {
    margin-bottom: 10px;
    text-align: center;
    span {
      display: inline-block;
      min-width: 50px;
    }
  }
  .optinsubmit {
    width: 200px;
    height: 60px;
    font-family: "trebuchet ms", arial;
    font-size: 17px;
    font-weight: bold;
    background-color: #e90d6a;
    border: 2px inherit #c55326;
    color: white;
  }
}

@media screen and (max-width: 800px) {
  .full {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 450px) {
  .testimonial-text img, .product-text img, .bonus-text img, .guarantee-text img {
    width: 100%;
  }
  .bg-lleft, .bg-rright, .bg-left, .bg-top, .bg-right, .bg-bleft, .bg-bottom, .bg-bright {
    display: none;
  }
}