body {
  background-color: #944848;
  margin: 0px; }

.header {
  width: 100%;
  background-image: url("./images/header.png");
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: auto 100%; }

.container {
  max-width: 900px;
  margin: auto;
  width: 100%; }

.header1 {
  font-family: "arial", tahoma, "Times New Roman", Times, serif;
  font-size: 58px;
  color: #ffffff;
  text-align: center;
  font-weight: normal;
  padding-bottom: 6px;
  padding-top: 0px;
  letter-spacing: -1px;
  font-style: normal; }

.header2 {
  font-family: "arial", tahoma, "Times New Roman", Times, serif;
  font-size: 18px;
  color: #696d2a;
  text-align: center;
  font-weight: normal;
  padding: 5px 20px;
  letter-spacing: -1px;
  font-style: normal;
  background-color: #f1f65c;
  display: inline-block;
  margin: auto;
  box-shadow: 0 0 8px #696d2a, inset 0px 0px 10px #696d2a; }

.bg-left {
  background-repeat: no-repeat;
  background-color: #793333;
  height: 20px;
  width: 45px; }

.bg-right {
  background-repeat: no-repeat;
  background-color: #793333;
  height: 20px;
  width: 45px; }

.bg-lleft {
  background-repeat: repeat-y;
  width: 27px;
  background-color: #793333; }

.bg-rright {
  background-color: #793333;
  width: 20px;
  background-position: right; }

.bg-bottom {
  background-color: #793333;
  height: 20px;
  width: 100%; }

.bg-bleft {
  background-repeat: no-repeat;
  background-color: #793333;
  width: 45px;
  height: 20px; }

.bg-bright {
  background-repeat: no-repeat;
  background-color: #793333;
  width: 45px;
  height: 20px; }

.bg-top {
  width: 100%;
  height: 20px;
  background-color: #793333; }

.bg-row {
  width: 100%;
  display: flex; }

.full {
  width: 100%;
  background-color: white;
  box-sizing: border-box;
  padding-right: 80px;
  padding-left: 80px; }

.subhead {
  font-family: arial;
  color: #000000;
  line-height: 22px;
  font-weight: bold;
  text-align: Center;
  font-size: 16px;
  padding: 0px 87px;
  padding-bottom: 0px;
  padding-top: 32px; }

.head0 {
  font-family: "arial", tahoma, "Times New Roman", Times, serif;
  font-size: 34px;
  color: #e44a35;
  line-height: 32pt;
  text-align: center;
  font-weight: bold;
  padding-bottom: 20px;
  padding-top: 21px;
  letter-spacing: 0px;
  font-style: normal; }

.head3 {
  font-family: "arial", tahoma, "Times New Roman", Times, serif;
  font-size: 27px;
  color: #7a7f23;
  line-height: 22pt;
  text-align: center;
  font-weight: normal;
  padding-bottom: 28px;
  letter-spacing: 0px;
  font-style: normal; }

.author {
  font-family: arial;
  font-size: 13px;
  color: #3a1111;
  line-height: 22px;
  font-weight: normal;
  text-align: left; }

.author-img {
  margin-right: 8px;
  border: 1px solid #504340; }

p {
  font-family: "arial", arial;
  font-size: 15px;
  color: #000000;
  line-height: 21px;
  text-align: left; }

.bigletter {
  float: left;
  font-size: 52pt;
  line-height: 0.8;
  margin-left: 0px;
  color: #dc3407;
  font-family: "trebuchet ms", arial; }

.cen {
  text-align: center; }

.vidbox {
  max-width: 480px;
  margin: auto;
  border: 4px double #d7d0ab; }
  .vidbox img {
    width: 100%;
    min-height: 320px;
    max-width: 480px; }

.head4 {
  font-family: "arial", arial, "Times New Roman", Times, serif;
  font-size: 26px;
  color: #e44935;
  line-height: 27pt;
  text-align: center;
  font-weight: bold;
  padding-bottom: 3px;
  letter-spacing: 0px;
  padding-top: 3px;
  font-style: normal; }

li {
  background-image: url(images/t3_11.jpg);
  background-repeat: no-repeat;
  background-position: 0 -.02em;
  padding-left: 1.9em;
  margin: 10px 0;
  font-family: "arial", arial, "Times New Roman", Times, serif;
  font-size: 15px;
  color: #3a1111;
  line-height: 16pt;
  text-align: left; }

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  padding-top: 10px;
  margin-left: 24px;
  margin-right: 24px; }

.signature {
  font-family: "arial", arial;
  font-size: 19px;
  color: #41505c;
  line-height: 24px;
  text-align: left;
  font-weight: normal;
  font-style: italic;
  padding-bottom: 20px; }

.ps {
  font-family: "arial", arial;
  font-size: 16px;
  color: #000000;
  line-height: 22px;
  text-align: left;
  font-weight: normal;
  font-style: normal;
  padding-top: 5px;
  padding-bottom: 17px; }

.guarantee-head {
  font-family: arial, "Times New Roman", Times, serif;
  font-size: 23px;
  color: #65673f;
  line-height: 23pt;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  margin-left: 0px;
  margin-bottom: 0px;
  padding: 0px 0px; }

.guarantee-text {
  font-family: arial;
  font-size: 14px;
  color: #000000;
  line-height: 21px;
  font-style: normal;
  padding-bottom: 0px;
  text-align: left;
  padding: 5px 0px;
  padding-top: 14px; }

.guarantee-table {
  border: 1px dashed #e4e6c7;
  background-color: #f4f5ea;
  padding: 16px;
  max-width: 500px;
  margin: auto; }

.bonus-head {
  font-family: "trebuchet ms", arial, "Times New Roman", Times, serif;
  font-size: 18px;
  color: #fbc040;
  line-height: 22pt;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  padding-bottom: 6px;
  padding-top: 0px; }

.os-bonus {
  max-width: 580px;
  margin: auto;
  border-radius: 9px; }
  .os-bonus .bonus1 {
    background-repeat: repeat-x;
    background-size: auto 100%;
    background-color: #763637;
    width: calc(100% - 20px);
    margin: auto;
    position: relative;
    z-index: 1;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5), inset 0px 0px 15px rgba(160, 160, 160, 0.2); }
  .os-bonus .bonus2 {
    padding-top: 30px;
    padding-bottom: 15px;
    background-color: #efd9db;
    border: 2px solid white;
    position: relative;
    top: -15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5), inset 0px 0px 15px rgba(160, 160, 160, 0.2); }
  .os-bonus .bonus-head {
    font-family: "trebuchet ms", arial, "Times New Roman", Times, serif;
    font-size: 17px;
    color: #dcb4b4;
    line-height: 22pt;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    padding-bottom: 5px;
    padding-top: 5px; }
  .os-bonus .bonus-text {
    font-family: "trebuchet ms", arial, "Times New Roman", Times, serif;
    font-size: 13px;
    line-height: 21px;
    color: #421e1e;
    font-style: normal;
    padding: 0px 30px;
    padding-top: 0px; }

.mail {
  max-width: 600px;
  margin: auto;
  border: 1px solid #994140;
  overflow: hidden;
  box-shadow: inset 0 0 15px rgba(90, 90, 90, 0.5); }
  .mail .product1 {
    background: url("images/mail.png");
    background-repeat: repeat-x;
    background-size: auto 100%; }
  .mail .product-head {
    font-family: "trebuchet ms", tahoma, "Times New Roman", Times, serif;
    font-size: 19px;
    color: #ffffff;
    line-height: 22pt;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px; }
  .mail .product-text {
    font-family: "trebuchet ms", arial, "Times New Roman", Times, serif;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    font-style: normal;
    padding: 0px 30px;
    padding-top: 11px;
    padding-bottom: 20px; }

.os-message {
  max-width: 600px;
  margin: auto;
  border: 2px solid white;
  border-radius: 12px;
  background-color: #fbfbfb; }
  .os-message .testimonial1 {
    box-shadow: 0 0 10px #323232;
    background-color: #4c4f1a;
    border: 2px solid transparent;
    width: calc(100% - 20px);
    margin: auto;
    position: relative;
    z-index: 1; }
  .os-message .testimonial-head {
    font-family: "arial", tahoma, "Times New Roman", Times, serif;
    font-size: 17px;
    color: #d0d559;
    line-height: 22pt;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    padding-bottom: 5px; }
  .os-message .testimonial-text {
    font-family: "arial", arial, "Times New Roman", Times, serif;
    position: relative;
    font-size: 13px;
    line-height: 21px;
    color: #4b4d1a;
    font-style: italic;
    padding: 0px 35px;
    padding-top: 12px;
    text-align: left; }
  .os-message .testimonial2 {
    background-color: #8e9245;
    border: 2px solid #f9e5f0;
    position: relative;
    top: -20px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0 0 10px #969696, inset 0px 0px 15px gainsboro; }

.footer {
  font-family: arial;
  font-size: 9px;
  color: #cf9595;
  text-decoration: none;
  text-align: center;
  padding: 0;
  margin: auto;
  margin-top: 15px;
  padding-bottom: 12px; }

.footer a {
  display: inline-block;
  font-family: verdana;
  font-size: 9px;
  color: #cf9595;
  text-decoration: none;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px; }

.optinbox {
  border: 4px dashed #e34732;
  background-color: #fdffce;
  font-family: "trebuchet ms", arial;
  font-size: 14px;
  color: black;
  max-width: 350px;
  margin: auto;
  padding: 35px 30px; }
  .optinbox .optintext {
    text-align: center;
    font-weight: bold;
    font-size: 16px; }
  .optinbox .optinprivacy a {
    font-size: 9px;
    text-align: center;
    color: gray; }
  .optinbox div {
    margin-bottom: 10px;
    text-align: center; }
    .optinbox div span {
      display: inline-block;
      min-width: 50px; }
  .optinbox .optinsubmit {
    width: 200px;
    height: 60px;
    font-family: "trebuchet ms", arial;
    font-size: 17px;
    font-weight: bold;
    background-color: #e34732;
    border: 2px inherit #c55326;
    color: white; }

@media screen and (max-width: 800px) {
  .full {
    padding-left: 20px;
    padding-right: 20px; }
  .head0 {
    font-size: 5vw;
    line-height: 5vw; }
  .head3 {
    font-size: 4.5vw;
    line-height: 4.5vw; } }

@media screen and (max-width: 450px) {
  .bg-lleft, .bg-rright, .bg-left, .bg-top, .bg-right, .bg-bleft, .bg-bottom, .bg-bright {
    display: none; }
  .head0 {
    font-size: 7vw;
    line-height: 7vw; }
  .head3 {
    font-size: 5vw;
    line-height: 5vw; } }
