body {
  background-color: #0e324c;
  margin: 0px; }

.header {
  width: 100%;
  background-image: url("images/header.png");
  background-size: auto 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; }
  .header .sbgg {
    background-image: url("images/sbgg.png");
    background-size: 100% 100%;
    max-width: 900px;
    width: 100%;
    height: 20px; }
  .header .container {
    margin-top: 20px;
    height: 125px;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    position: relative; }
    .header .container > div {
      height: 135px;
      position: relative;
      justify-content: center;
      flex-direction: column; }

.os-body {
  box-sizing: border-box;
  border: 1px solid #0e324c;
  box-shadow: inset 0px 0px 40px rgba(50, 50, 50, 0.3);
  background-color: white;
  border-radius: 15px 15px 15px 15px; }

.os-red {
  height: 30px;
  background-image: url("images/header_red.png");
  background-size: cover; }

.container {
  max-width: 900px;
  margin: auto;
  width: 100%; }

.header1 {
  font-family: "trebuchet ms",arial, "Times New Roman", Times, serif;
  font-size: 71px;
  color: #ac174b;
  text-align: center;
  font-weight: normal;
  letter-spacing: -2px;
  padding: 5px;
  box-sizing: border-box;
  width: 100%;
  margin: auto;
  margin-top: 10px; }

.header2 {
  font-family: "trebuchet ms",arial, "Times New Roman", Times, serif;
  font-size: 20px;
  color: #2e556f;
  text-align: center;
  font-weight: normal;
  letter-spacing: -1px;
  font-style: normal;
  margin: auto;
  padding: 10px 15px;
  background-image: url("images/sbg.png");
  background-size: auto 100%; }

.bg-left {
  background-repeat: no-repeat;
  height: 20px;
  width: 45px; }

.bg-right {
  background-repeat: no-repeat;
  height: 20px;
  width: 45px; }

.bg-lleft {
  background-repeat: repeat-y;
  width: 27px; }

.bg-rright {
  width: 20px;
  background-position: right; }

.bg-bottom {
  height: 20px;
  width: 100%; }

.bg-bleft {
  background-repeat: no-repeat;
  width: 45px;
  height: 20px; }

.bg-bright {
  background-repeat: no-repeat;
  width: 45px;
  height: 20px; }

.bg-top {
  width: 100%;
  height: 20px; }

.bg-row {
  width: 100%;
  display: flex; }

.full {
  width: 100%;
  background-color: white;
  box-sizing: border-box;
  padding-right: 40px;
  padding-left: 40px; }

.subhead {
  font-family: "trebuchet ms",arial;
  color: #000000;
  line-height: 22px;
  font-weight: bold;
  text-align: Center;
  font-size: 19px;
  padding-bottom: 0px;
  padding-top: 11px; }

.head0 {
  font-family: "trebuchet ms",arial, "Times New Roman", Times, serif;
  font-size: 38px;
  color: #cf195f;
  line-height: 34pt;
  text-align: center;
  font-weight: bold;
  padding-bottom: 10px; }

.head3 {
  font-family: "trebuchet ms", "Times New Roman", Times, serif;
  font-size: 25px;
  color: #285e7b;
  line-height: 24pt;
  text-align: center;
  padding: 0 30px;
  font-weight: normal;
  padding-bottom: 31px;
  padding-top: 13px;
  letter-spacing: -0px; }

.author {
  font-family: arial;
  font-size: 16px;
  color: #000000;
  line-height: 22px;
  font-weight: normal; }

.author-img {
  margin-right: 8px;
  border: 1px solid #504340; }

p {
  font-family: arial;
  font-size: 16px;
  color: #000000;
  line-height: 22px; }

.bigletter {
  float: left;
  font-size: 52pt;
  line-height: 0.8;
  margin-left: 0px;
  color: #cf195e;
  font-family: "trebuchet ms"; }

.cen {
  text-align: center; }

.vidbox {
  max-width: 480px;
  margin: auto;
  border: 3px solid #cf195e; }
  .vidbox img {
    width: 100%;
    min-height: 320px;
    max-width: 480px; }

.head4 {
  font-family: "trebuchet ms", arial, "Times New Roman", Times, serif;
  font-size: 28px;
  color: #cf195e;
  line-height: 25pt;
  text-align: center;
  font-weight: normal;
  padding-bottom: 7px;
  letter-spacing: -1px;
  padding-top: 6px;
  font-style: italic; }

li {
  background-image: url("images/t3_11.jpg");
  background-repeat: no-repeat;
  background-position: 0 .12em;
  padding-left: 1.5em;
  margin: 13px 0;
  font-family: arial, "Times New Roman", Times, serif;
  font-size: 16px;
  color: #000000;
  line-height: 17pt;
  text-align: left; }

ul {
  list-style-type: none;
  padding-top: 10px; }

.signature {
  font-family: arial;
  font-size: 21px;
  color: #051f30;
  line-height: 26px;
  text-align: left;
  font-weight: normal;
  font-style: italic;
  padding-bottom: 10px; }

.ps {
  font-family: arial;
  font-size: 16px;
  color: #201a19;
  line-height: 22px;
  text-align: left;
  font-weight: normal;
  font-style: normal;
  padding-top: 15px;
  padding-bottom: 0px; }
  .ps a {
    color: #3965b1;
    font-weight: bold; }

.guarantee-head {
  font-family: "trebuchet ms",arial, "Times New Roman", Times, serif;
  font-size: 26px;
  color: #203543;
  line-height: 25pt;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  margin-left: 0px;
  margin-bottom: 0px;
  padding: 0px 0px;
  letter-spacing: -1px; }

.guarantee-text {
  font-family: verdana;
  font-size: 14px;
  color: #000000;
  line-height: 22px;
  font-style: normal;
  bottom: 0px;
  font-style: normal;
  padding-bottom: 0px;
  text-align: left;
  padding: 5px 0px;
  padding-top: 14px; }

.guarantee-table {
  border: 1px dashed #7e9eb5;
  background-color: #f6fafd;
  padding: 16px;
  max-width: 500px;
  margin: auto; }

.bonus-head {
  font-family: "trebuchet ms", arial, "Times New Roman", Times, serif;
  font-size: 18px;
  color: #fbc040;
  line-height: 22pt;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  padding-bottom: 6px;
  padding-top: 0px; }

.os-bonus {
  max-width: 580px;
  margin: auto;
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid #000000;
  overflow: hidden; }
  .os-bonus .bonus1 {
    background-image: url("images/bonus.png");
    background-size: cover;
    box-sizing: border-box;
    width: 100%;
    margin: auto;
    position: relative;
    z-index: 1; }
  .os-bonus .bonus2 {
    padding-bottom: 15px; }
  .os-bonus .bonus-head {
    font-family: "trebuchet ms",aarial, "Times New Roman", Times, serif;
    font-size: 23px;
    color: #ffffff;
    line-height: 22pt;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    padding-bottom: 12px;
    padding-top: 14px; }
  .os-bonus .bonus-text {
    font-family: arial, "Times New Roman", Times, serif;
    font-size: 16px;
    line-height: 21px;
    color: #000000;
    font-style: normal;
    padding: 0px 20px;
    padding-top: 15px; }

.mail {
  max-width: 600px;
  margin: auto;
  border: 1px solid #000000;
  border-radius: 10px;
  overflow: hidden;
  background-color: #ffffff; }
  .mail .product1 {
    background: url("images/mail.png");
    background-size: cover;
    width: 100%;
    margin: auto;
    box-sizing: border-box; }
  .mail .product-head {
    font-family: "trebuchet ms", "Times New Roman", Times, serif;
    font-size: 24px;
    color: #ffffff;
    line-height: 22pt;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    padding-bottom: 0px;
    padding-top: 3px;
    padding: 10px; }
  .mail .product-text {
    font-family: arial, "Times New Roman", Times, serif;
    font-size: 15px;
    line-height: 21px;
    color: #000000;
    font-style: normal;
    padding: 15px 25px;
    padding-top: 11px; }

.os-message {
  max-width: 600px;
  margin: auto;
  border: 2px solid #9f6a86;
  border-radius: 10px;
  box-shadow: 0 0 10px #f8f4e9, inset 0px 0px 45px  #a6d1f0;
  background-color: #cbe6f8;
  background-size: 100% auto; }
  .os-message .testimonial1 {
    width: 100%;
    margin: auto;
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    padding-bottom: 8px; }
  .os-message .testimonial-head {
    font-family: "trebuchet ms",arial, "Times New Roman", Times, serif;
    font-size: 26px;
    color: #454545;
    line-height: 22pt;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    padding-top: 2px;
    letter-spacing: -1px;
    padding-top: 15px; }
  .os-message .testimonial-text {
    font-family: arial, "Times New Roman", Times, serif;
    font-size: 15px;
    line-height: 21px;
    color: #000000;
    font-style: normal;
    padding: 0px 18px;
    padding-bottom: 14px;
    text-align: left; }
  .os-message .testimonial2 {
    padding-top: 10px;
    padding-bottom: 0px; }

.fcon {
  max-width: 100%;
  margin-top: 4px;
  padding-top: 20px;
  display: flex;
  justify-content: center; }
  .fcon .footer {
    font-family: arial;
    font-size: 11px;
    color: #bccad4;
    text-decoration: none;
    text-align: center;
    padding: 0;
    padding-top: 20px;
    padding-bottom: 13px; }

.footer a {
  font-family: arial;
  font-size: 11px;
  color: #bccad4;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  margin-top: 25px;
  margin-bottom: 20px; }

.optinbox {
  border: 4px dashed #db0101;
  background-color: #fffcf4;
  font-family: "trebuchet ms", arial;
  font-size: 14px;
  color: black;
  max-width: 350px;
  margin: auto;
  padding: 35px 30px; }
  .optinbox .optintext {
    text-align: center;
    font-weight: bold;
    font-size: 16px; }
  .optinbox .optinprivacy a {
    font-size: 9px;
    text-align: center;
    color: gray; }
  .optinbox div {
    margin-bottom: 10px;
    text-align: center; }
    .optinbox div span {
      display: inline-block;
      min-width: 50px; }
  .optinbox .optinsubmit {
    width: 200px;
    height: 60px;
    font-family: "trebuchet ms", arial;
    font-size: 17px;
    font-weight: bold;
    background-color: #db0101;
    border: 2px inherit #c55326;
    color: white; }

@media screen and (max-width: 800px) {
  .full {
    padding-left: 20px;
    padding-right: 20px; }
  .head0 {
    font-size: 5vw;
    line-height: 5vw; }
  .head3 {
    font-size: 4.5vw;
    line-height: 4.5vw; } }

@media screen and (max-width: 450px) {
  .bg-lleft, .bg-rright, .bg-left, .bg-top, .bg-right, .bg-bleft, .bg-bottom, .bg-bright {
    display: none; }
  ul {
    margin: 0px; }
  .header1 {
    font-size: 12vmin;
    padding-left: 20px; }
  .header2 {
    margin-top: 20px;
    padding-left: 20px;
    font-size: 14px;
    top: -35px; }
  .head0 {
    font-size: 7vw;
    line-height: 7vw; }
  .head3 {
    font-size: 5vw;
    line-height: 5vw; } }
