body {
  background-color: #d5dde2;
  margin: 0px; }

.header {
  width: 100%;
  background-image: url("images/header.png");
  background-size: auto 100%;
  min-height: 140px;
  height: 185px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; }
  .header .sbgg {
    max-width: 900px;
    width: 100%;
    height: 20px; }
  .header .container {
    height: 185px;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    position: relative; }
    .header .container > div {
      height: 250px;
      position: relative;
      justify-content: center;
      flex-direction: column; }

.sub-head0 {
  min-height: 265px;
  background-image: url("images/sbh0.png");
  background-size: auto 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; }

.os-body {
  box-sizing: border-box;
  box-shadow: 0px 0px 20px grey, inset 0px 0px 2px grey;
  background-color: white; }

.os-red {
  height: 30px;
  background-image: url("images/header_red.png");
  background-size: cover; }

.container {
  max-width: 900px;
  margin: auto;
  width: 100%; }

.header1 {
  font-family: "trebuchet ms",arial, "Times New Roman", Times, serif;
  font-size: 67px;
  color: #dd4f2a;
  line-height: 30pt;
  text-align: center;
  font-weight: bold;
  box-sizing: border-box;
  padding-top: 60px;
  width: 100%;
  margin: auto; }
  .header1 span {
    position: relative; }
    .header1 span:before {
      position: absolute;
      content: '';
      background-image: url("images/Star.png");
      background-size: 100% 100%;
      width: 40px;
      height: 40px;
      left: -200px; }
    .header1 span:after {
      position: absolute;
      content: '';
      background-image: url("images/Star.png");
      background-size: 100% 100%;
      width: 40px;
      height: 40px;
      right: -200px; }

.header2 {
  font-family: "trebuchet ms",arial, "Times New Roman", Times, serif;
  font-size: 18px;
  color: #34566a;
  line-height: 30pt;
  text-align: center;
  font-weight: normal;
  margin-top: 30px; }
  .header2 span {
    display: inline-block;
    text-align: center;
    padding: 1px;
    padding-right: 25px;
    padding-left: 25px;
    border-radius: 10px;
    width: 100%;
    max-width: 350px;
    background-image: url("images/s1.png");
    background-size: 100% 100%; }

.bg-left {
  background-image: url("images/b1.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 45px;
  width: 45px; }

.bg-right {
  background-image: url("images/b2.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 45px;
  width: 45px; }

.bg-lleft {
  background-image: url("images/b5.png");
  background-repeat: repeat-y;
  background-size: 100% auto;
  width: 45px; }

.bg-rright {
  background-image: url("images/b4.png");
  background-size: 100% auto;
  width: 45px;
  background-position: right; }

.bg-bottom {
  background-image: url("images/b8.png");
  background-size: auto 100%;
  height: 45px;
  width: 100%; }

.bg-bleft {
  background-image: url("images/b6.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 45px;
  height: 45px; }

.bg-bright {
  background-image: url("images/b7.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 45px;
  height: 45px; }

.bg-top {
  width: 100%;
  height: 45px;
  background-image: url("images/b3.png");
  background-size: auto 100%;
  position: relative; }
  .bg-top:after {
    position: absolute;
    content: '';
    background-image: url("images/2.png");
    width: 113px;
    height: 169px;
    right: -135px;
    top: -70px; }
  .bg-top:before {
    position: absolute;
    content: '';
    background-image: url("images/3.png");
    width: 113px;
    height: 169px;
    left: -135px;
    top: 70px; }

.bg-row {
  width: calc(100% + 1px);
  display: flex; }

.full {
  width: 100%;
  background-color: white;
  box-sizing: border-box;
  padding-right: 40px;
  padding-left: 40px; }

.subhead {
  font-family: "trebuchet ms",arial;
  color: #d44836;
  line-height: 38px;
  font-weight: bold;
  text-align: Center;
  font-size: 32px;
  padding-bottom: 0px;
  padding-top: 11px; }

.head0 {
  font-family: "trebuchet ms",arial, "Times New Roman", Times, serif;
  font-size: 44px;
  color: #fdfdfd;
  line-height: 45pt;
  text-align: center;
  font-weight: bold;
  padding-bottom: 10px; }

.head3 {
  font-family: "trebuchet ms", "Times New Roman", Times, serif;
  font-size: 21px;
  color: #000;
  line-height: 20pt;
  text-align: center;
  font-weight: bold;
  padding-bottom: 27px;
  padding-top: 7px;
  letter-spacing: -1px; }

.author {
  ffont-family: arial;
  font-size: 14px;
  color: #000000;
  line-height: 22px;
  font-weight: normal; }

.author-img {
  margin-right: 8px;
  border: 1px solid #504340; }

p {
  font-family: arial;
  font-size: 15px;
  color: #000000;
  line-height: 20px; }

.bigletter {
  float: left;
  font-size: 52pt;
  line-height: 0.8;
  margin-left: 0px;
  color: #bb2f1f;
  font-family: "trebuchet ms"; }

.cen {
  text-align: center; }

.vidbox {
  max-width: 480px;
  margin: auto;
  border: 3px solid #d5dde2; }
  .vidbox img {
    width: 100%;
    min-height: 320px;
    max-width: 480px; }

.head4 {
  font-family: "trebuchet ms", "Times New Roman", Times, serif;
  font-size: 26px;
  color: #bb2f1f;
  line-height: 24pt;
  text-align: center;
  font-weight: bold;
  padding-bottom: 7px;
  letter-spacing: -1px;
  padding-top: 6px; }

li {
  background-image: url("images/t3_11.jpg");
  background-repeat: no-repeat;
  background-position: 0 .07em;
  padding-left: 1.5em;
  margin: 13px 0;
  font-family: arial, "Times New Roman", Times, serif;
  font-size: 15px;
  color: #000000;
  line-height: 15pt;
  text-align: left; }

ul {
  list-style-type: none;
  padding-top: 10px; }

.signature {
  font-family: arial;
  font-size: 19px;
  color: #d30101;
  line-height: 26px;
  text-align: left;
  font-weight: bold;
  font-style: italic;
  padding-bottom: 10px; }

.ps {
  font-family: arial;
  font-size: 15px;
  color: #2a2a2a;
  line-height: 20px;
  text-align: left;
  font-weight: normal;
  font-style: normal;
  padding-top: 15px;
  padding-bottom: 0px; }
  .ps a {
    color: #39a6da; }

.guarantee-head {
  font-family: "trebuchet ms",arial, "Times New Roman", Times, serif;
  font-size: 22px;
  color: #6c3932;
  line-height: 21pt;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  margin-left: 0px;
  margin-bottom: 0px;
  padding: 0px 0px;
  letter-spacing: -1px; }

.guarantee-text {
  font-family: verdana;
  font-size: 13px;
  color: #000000;
  line-height: 21px;
  position: relative;
  bottom: 0px;
  font-style: normal;
  padding-bottom: 0px;
  text-align: left;
  padding: 5px 0px;
  padding-top: 14px; }

.guarantee-table {
  border: 0px dashed #ffe1b4;
  background-color: #faf2f1;
  padding: 16px;
  max-width: 500px;
  margin: auto; }

.bonus-head {
  font-family: "trebuchet ms", arial, "Times New Roman", Times, serif;
  font-size: 18px;
  color: #fbc040;
  line-height: 22pt;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  padding-bottom: 6px;
  padding-top: 0px; }

.os-bonus {
  max-width: 580px;
  margin: auto;
  border-radius: 10px;
  background-color: #6ca034;
  border: 2px solid #6b9333;
  box-shadow: inset 0px 0px 45px #97cb43;
  overflow: hidden; }
  .os-bonus .bonus1 {
    background-size: cover;
    box-sizing: border-box;
    width: 100%;
    margin: auto;
    position: relative;
    z-index: 1; }
  .os-bonus .bonus2 {
    padding-bottom: 15px; }
  .os-bonus .bonus-head {
    font-family: "trebuchet ms", arial, "Times New Roman", Times, serif;
    font-size: 21px;
    color: #ffffff;
    line-height: 22pt;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    padding-bottom: 12px;
    padding-top: 14px; }
  .os-bonus .bonus-text {
    font-family: "arial", arial, "Times New Roman", Times, serif;
    font-size: 13px;
    line-height: 21px;
    color: #e8fbd3;
    text-align: left;
    padding: 0px 20px;
    padding-top: 15px; }

.mail {
  max-width: 600px;
  margin: auto;
  border: 2px solid #545454;
  overflow: hidden;
  background-color: #f2f2f2; }
  .mail .product1 {
    background: url("images/mail.png");
    background-size: cover;
    width: 100%;
    margin: auto;
    box-sizing: border-box; }
  .mail .product-head {
    font-family: "trebuchet ms",arial, "Times New Roman", Times, serif;
    font-size: 21px;
    color: #ffffff;
    line-height: 22pt;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    padding-bottom: 0px;
    padding-top: 3px;
    padding: 10px; }
  .mail .product-text {
    font-family: arial, "Times New Roman", Times, serif;
    font-size: 15px;
    line-height: 20px;
    color: #000000;
    font-style: normal;
    padding: 15px 25px;
    padding-top: 15px; }

.os-message {
  max-width: 600px;
  margin: auto;
  border: 2px solid #a7dae7;
  background-color: #f5f8f9;
  background-size: 100% auto; }
  .os-message .testimonial1 {
    position: relative;
    z-index: 1;
    box-sizing: content-box;
    padding-bottom: 8px; }
  .os-message .testimonial-head {
    font-family: "trebuchet ms", "Times New Roman", Times, serif;
    font-size: 26px;
    color: #203842;
    line-height: 22pt;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    padding-top: 20px;
    padding-bottom: 2px; }
  .os-message .testimonial-text {
    font-family: arial, "Times New Roman", Times, serif;
    font-size: 14px;
    line-height: 20px;
    color: #6d7d83;
    font-style: italic;
    padding: 0px 18px;
    padding-bottom: 14px;
    text-align: left; }
  .os-message .testimonial2 {
    padding-top: 10px;
    padding-bottom: 0px; }

.fcon {
  background-color: #3d4b54;
  max-width: 100%;
  margin-top: 20px;
  border-top: 5px solid #afbec8;
  display: flex;
  justify-content: center; }
  .fcon .footer {
    font-family: arial;
    font-size: 11px;
    color: #a0b0b9;
    text-decoration: none;
    text-align: center;
    padding: 0;
    padding-top: 20px;
    padding-bottom: 13px; }

.footer a {
  font-family: verdana;
  font-size: 11px;
  color: #a0b0b9;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  margin-top: 25px;
  margin-bottom: 20px; }

.optinbox {
  border: 4px dashed #e84800;
  background-color: #fdfdf2;
  font-family: "trebuchet ms", arial;
  font-size: 14px;
  color: black;
  max-width: 350px;
  margin: auto;
  padding: 35px 30px; }
  .optinbox .optintext {
    text-align: center;
    font-weight: bold;
    font-size: 16px; }
  .optinbox .optinprivacy a {
    font-size: 9px;
    text-align: center;
    color: gray; }
  .optinbox div {
    margin-bottom: 10px;
    text-align: center; }
    .optinbox div span {
      display: inline-block;
      min-width: 50px; }
  .optinbox .optinsubmit {
    width: 200px;
    height: 60px;
    font-family: "trebuchet ms", arial;
    font-size: 17px;
    font-weight: bold;
    background-color: #e84800;
    border: 2px inherit #c55326;
    color: white; }

@media screen and (max-width: 800px) {
  .full {
    padding-left: 20px;
    padding-right: 20px; }
  .head0 {
    font-size: 5vw;
    line-height: 5vw; }
  .head3 {
    font-size: 4.5vw;
    line-height: 4.5vw; } }

@media screen and (max-width: 450px) {
  .bg-lleft, .bg-rright, .bg-left, .bg-top, .bg-right, .bg-bleft, .bg-bottom, .bg-bright {
    display: none; }
  ul {
    margin: 0px; }
  .header2 {
    padding-left: 20px;
    font-size: 14px; }
  .head0 {
    font-size: 7vw;
    line-height: 7vw; }
  .head3 {
    font-size: 5vw;
    line-height: 5vw; } }
