body {
  background-color: #d16f0d;
  margin:0px;
}

.header {
  width: 100%;
  background-image: url('images/header.png');
  background-size: auto 100%;
  //background-position-y: 3px;
  //background-color: #4843a5;
  //min-height: 200px;
  min-height: 140px;
  height: 220px;
  //display: flex;

  flex-direction: column;
  align-items: center;
  //background-size: calc(100% + 50px ) calc(100% - 1px);
  padding-top: 40px;

  position: relative;

  //box-shadow: 0px 0px 30px grey;
  //border-bottom: 8px solid #fffaff;

  //
  .sbgg{
    //background-image: url('images/sbgg.png');
    //background-size: 100% 100%;
    max-width: 900px;
    width: 100%;
    height: 20px;
    //border-top: 1px solid #dce546;
  }

  .container{
    //margin-top: 20px;
    //border: 2px solid white;
    //border-radius: 10px 10px 0px 0px;
    //border-bottom: none;
    background-image: url('images/header2.png');
    background-size: 100% 100%;
    //background-repeat: repeat-y;
    //padding-top: 25px;
    //height: 125px;
    height: 140px;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    //box-shadow: 0px 0px 20px rgba(220, 220, 220, 0.6);
    position: relative;
    max-width: 918px;
    //left:-9px;
    //border: 1px solid #dce546;
    //width: calc( 100% + 18px);


    & > div{
      height: 250px;
      position: relative;
      //display: flex;
      justify-content: center;
      flex-direction: column;
    }
  }
}

.sub-head0{
  min-height: 265px;
  background-image: url('images/sbh0.png');
  background-size: auto 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.container {
  max-width: 900px;
  margin: auto;
  width: 100%;
}

.os-body{
  box-sizing: border-box;
  position: relative;
  top:-80px;
  border: 3px solid #c9913e;
  border-top:none;
  //margin
  //box-shadow: 0px 0px 20px grey, inset 0px 0px 2px grey;
  //box-shadow:  inset 0px 0px 40px rgba(50,50,50,0.3);
  background-color: white;
//border-radius: 10px;
  border-radius: 0px 0px 15px 15px;
  overflow: hidden;
  margin-bottom: -80px!important;
  width: calc(100% - 18px);
}

.os-red{
  height: 30px;
  background-image: url('images/header_red.png');
  background-size: cover;
}



.header1 {
  font-family: arial, "Times New Roman", Times, serif;
  font-size: 59px;
  color: #3c2208;
  line-height: 30pt;
  text-align: center;
  font-weight: normal;
  letter-spacing: -1px;
  font-style: normal;
  //background-image: url('images/s1.png');
  //background-size: 100% 100%;
  //text-transform: uppercase;
  //padding-top: 50px;
  //text-transform: uppercase;
  //padding: 5px;
  box-sizing: border-box;
  padding-top: 30px;
  width:100%;
  margin: auto;
  //margin-top: 60px;

  //position: absolute;
  //bottom: 10px;
  //border:1px solid black;
  //border-bottom: none;
  span{
    position: relative;
    //display: inline-block;
    //
    //padding: 15px;
    //max-width: 400px;
    //width: 100%;
    //border-radius: 10px;
    //text-align: center;
    //font-style: italic;

  }
}

.header2 {
  font-family: arial, "Times New Roman", Times, serif;
  font-size: 17px;
  color: #ffffff;
  line-height: 30pt;
  text-align: center;
  font-weight: normal;
  padding-top: 27px;
  padding-right: 0px;
  letter-spacing: 0px;
  font-style: normal;
  text-transform: uppercase;

  //position: absolute;
  //bottom: -2px;
  //background-color: #a1dbf1;
  //border-radius: 10px 10px 0 0 ;;
  //border-radius: 15px;
  //background-image: url('images/sbg.png');
  //background-size: auto 100%;
  //height: 35px;
  //background-color: #daf776;
  //margin-bottom: 53px;
  //border-bottom: 1px solid #c2e4f0;
  //display: inline-block;
  //top: -15px;
  //z-index: 1;
  //position: relative;
  span{
    display: inline-block;
    text-align: center;
    padding: 1px;
    padding-right: 25px;
    padding-left: 25px;
    //font-style: italic;
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
    //margin-right: 70px;
    //background-color: rgba(250,250,250 ,0.7);
    background-image: url('images/s1.png');
    background-size: 100% 100%;
  }

}

.bg-left {
  //background-image: url("images/b1.png");
  background-repeat: no-repeat;
  background-color: white;
  background-size: 100% 100%;
  height: 45px;
  //width: 45px;
}

.bg-right {
  //background-image: url("images/b2.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: white;
  //background-size: cover;
  height: 45px;
  //width: 45px;
}

.bg-lleft {
  //background-image: url("images/b5.png");
  background-repeat: repeat-y;
  background-size:  100% auto;
  //width: 45px;
  background-color: white;
}

.bg-rright {
  //background-image: url("images/b4.png");
  //background-repeat: repeat-y;
  //width: 16px;
  background-color: white;
  background-size:  100% auto;
  //width: 45px;
  background-position: right;
}

.bg-bottom {
  //background-image: url("images/b8.png");
  //background-repeat: repeat-y;
  background-color: white;
  background-size: auto 100%;
  height: 45px;
  width: 100%;
}

.bg-bleft {
  //background-image: url("images/b6.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: white;
  //width: 45px;
  height: 45px;
}

.bg-bright {
  //background-image: url("images/b7.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: white;
  //width: 45px;
  height: 45px;
}

.bg-top {
  width: 100%;
  height: 45px;
  //background-image: url("images/b3.png");
  background-size: auto 100%;
  background-color: white;
  position: relative;
  //&:after{
  //  position: absolute;
  //  content: '';
  //  background-image: url("images/2.png");
  //  width: 113px;
  //  height: 169px;
  //  right: -135px;
  //  top: -70px;
  //}
  //&:before{
  //  position: absolute;
  //  content: '';
  //  background-image: url("images/3.png");
  //  width: 113px;
  //  height: 169px;
  //  left: -135px;
  //  top: 70px;
  //}
}

.bg-row {
  //width: 100%;
  width: calc(100% + 1px);
  display: flex;
}

.full {
  width: 100%;
  background-color: white;
  box-sizing: border-box;
  padding-right: 40px;
  padding-left: 40px;
}

//
.subhead {
  font-family: tahoma;
  color: #000000;
  line-height: 22px;
  font-weight: bold;
  text-align: Center;
  font-size: 16px;
  //padding: 0 90px;
  padding-bottom: 0px;
  padding-top: 11px;
}

.head0 {
  font-family: tahoma,arial, "Times New Roman", Times, serif;
  font-size: 34px;
  color: #ed3c0c;
  line-height: 30pt;
  text-align: center;
  font-weight: bold;
  padding-bottom: 10px;
  letter-spacing: -1px;
  //font-style: italic;
}

.head3 {
  font-family: tahoma,arial, "Times New Roman", Times, serif;
  font-size: 22px;
  color: #002447;
  line-height: 23pt;
  text-align: center;
  font-weight: bold;
  padding-bottom: 27px;
  padding-top: 7px;
  letter-spacing: -1px;
}

.author {
  font-family: tahoma,arial;
  font-size: 14px;
  color: #002447;
  line-height: 22px;
  font-weight: normal;
}

.author-img {
  margin-right: 8px;
  border: 1px solid #504340;
}

p {
  font-family: tahoma,arial;
  font-size: 15px;
  color: #000000;
  line-height: 20px;
}

.bigletter {
  float: left;
  font-size: 52pt;
  line-height: 0.8;
  margin-left: 0px;
  color: #ed3c0c;
  font-family: tahoma,arial;
}

.cen {
  text-align: center;
}

.vidbox {
  max-width: 480px;
  margin: auto;
  //border: 4px double #f55600;
  border: 3px solid #ed3c0c;
  img {
    width: 100%;
    min-height: 320px;
    max-width: 480px;
  }
}

.head4 {
  font-family: tahoma,arial, "Times New Roman", Times, serif;
  font-size: 26px;
  color: #ed3c0c;
  line-height: 24pt;
  text-align: center;
  font-weight: bold;
  padding-bottom: 7px;
  letter-spacing: -1px;
  padding-top: 6px;
  font-style: normal;
}

li {
  background-image: url('images/t3_11.jpg');
  background-repeat: no-repeat;
  background-position: 0 .08em;
  padding-left: 1.7em;
  margin: 13px 0;
  font-family: tahoma,arial, "Times New Roman", Times, serif;
  font-size: 15px;
  color: #000000;
  line-height: 15pt;
  text-align: left;
}

ul {
  list-style-type: none;
  padding-top: 10px;
  //margin: 0 20px;
}

.signature {
  font-family: tahoma,arial;
  font-size: 19px;
  color: #636363;
  line-height: 26px;
  text-align: left;
  font-weight: normal;
  font-style: italic;
  padding-bottom: 10px;
}

.ps {
  font-family: tahoma,arial;
  font-size: 15px;
  color: #201a19;
  line-height: 20px;
  text-align: left;
  font-weight: normal;
  font-style: normal;
  padding-top: 15px;
  padding-bottom: 0px;
  a {
    color: #1db2f1;
    //font-weight: bold;
  }
}

.guarantee-head {
  font-family: tahoma,arial, "Times New Roman", Times, serif;
  font-size: 24px;
  color: #dd7813;
  line-height: 23pt;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  margin-left: 0px;
  margin-bottom: 0px;
  padding: 0px 0px;
  letter-spacing: -1px;
}

.guarantee-text {
  font-family: tahoma,arial;
  font-size: 15px;
  color: #000000;
  line-height: 20px;
  font-style: normal;
  text-align: left;
  padding: 5px 0px;
  padding-top: 14px;
}

.guarantee-table {
  border: 1px dashed #dbb38c;
  background-color: #fff3e8;
  padding: 16px;
  max-width: 500px;
  margin: auto;
}

//
.bonus-head {
  font-family: "trebuchet ms", arial, "Times New Roman", Times, serif;
  font-size: 18px;
  color: #fbc040;
  line-height: 22pt;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  padding-bottom: 6px;
  padding-top: 0px;
}

.bonus2 {
  //background: url(../images/t2_16.jpg) repeat-y;
}


.os-bonus {
  max-width: 580px;
  margin: auto;
  border-radius: 10px;
  //background-color: #6ca034;
  border: 1px solid #f3dbb6;
  //box-shadow: 0 0 15px #eaeff3, inset 0px 0px 25px rgba(80,80,80,0.2);
  box-shadow: inset 0px 0px 10px #f3dbb6;
  //background: url('images/bonus.png') repeat-y;
  //background-size: 100% auto;
  overflow: hidden;

  .bonus1 {
    //background-image: url('images/bonus.png');
    //background-repeat: repeat-x;
    //background-size: auto 100%;
    background-size: cover;
    //background-color: #763637;
    //border-radius: 9px 9px 0px 0px;
    //border-radius: 20px;
    box-sizing: border-box;
    //border: 2px solid white;
    //width: calc(100% - 20px);
    width: 100%;
    margin: auto;
    position: relative;
    z-index: 1;
    //box-shadow: 0 0 5px rgba(0, 0, 0, 0.5), inset 0px 0px 15px rgba(160, 160, 160, 0.2);
  }
  .bonus2 {
    //padding-top: 20px;
    padding-bottom: 15px;
    //background-color: #efd9db;
    //border-radius: 12px;
    //border:2px solid white;
    //position: relative;
    //top: -15px;
    //box-shadow: 0 0 5px rgba(0, 0, 0, 0.5), inset 0px 0px 15px rgba(160, 160, 160, 0.2);
  }

  .bonus-head {
    font-family: tahoma,arial, "Times New Roman", Times, serif;
    font-size: 23px;
    color: #392f1f;
    line-height: 22pt;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    //letter-spacing: -1px;
    padding-bottom: 12px;
    padding-top: 14px;

    //border: 5px solid #eaf9fe;
  }

  .bonus-text {
    font-family: tahoma,arial, "Times New Roman", Times, serif;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    font-style: normal;
    padding: 0px 20px;
    padding-top: 15px;
  }
}

.mail {
  max-width: 600px;
  margin: auto;
  border: 1px solid #b6e1f3;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: inset 0 0 5px #b6e1f3;
  //background-color: #f2f2f2;

  .product1 {
    //background: url('images/mail.png');
    //background-repeat: repeat-x;
    //background-size: auto 100%;
    background-size: cover;
    //width: calc(100% - 10px);
    width: 100%;
    //border-radius: 20px;
    margin: auto;
    //position: relative;
    //top:-10px;
    //border: 5px solid white;
    box-sizing: border-box;
  }
  .product-head {
    font-family: tahoma,arial, "Times New Roman", Times, serif;
    font-size: 23px;
    color: #1a333e;
    line-height: 22pt;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    padding-bottom: 0px;
    padding-top: 3px;
    padding: 10px;
  }
  .product-text {
    font-family: tahoma,arial, "Times New Roman", Times, serif;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    font-style: normal;
    padding: 15px 25px;
    padding-top: 15px;
  }
}

.os-message {
  max-width: 600px;
  margin: auto;
  //border: 2px solid #a7dae7;//
  //border-radius: 10px;
  //box-shadow: 0 0 10px #f8f4e9, inset 0px 0px 25px  #c0f041;
  //box-shadow: inset 0px 0px 45px  #fdca01;
  //background-color: #f5f8f9;
  //box-shadow:0px 0px 35px #fbfaf6;
  //background-image: url('images/message.png');
  //background-repeat: repeat-y;
  background-size: 100% auto;
  //border: 10px solid transparent;



  .testimonial1 {
    //box-shadow: 0 0 10px rgba(50, 50, 50, 1); //, inset 0px 0px 15px rgba(220,220,220,1);
    background-image: url('images/message.png');
    background-size: 100% 100%;
    width: 90%;
    margin: auto;
    position: relative;
    z-index: 1;
    box-sizing: content-box;
    padding-bottom: 8px;
    //background-color: white;
  }

  .testimonial-head {
    font-family: tahoma,arial, "Times New Roman", Times, serif;
    font-size: 21px;
    color: #ffffff;
    line-height: 22pt;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 0px;
  }
  .testimonial-text {

    font-family: tahoma,arial, "Times New Roman", Times, serif;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    font-style: normal;
    padding: 0px 18px;
    padding-bottom: 14px;
    text-align: left;
  }
  .testimonial2 {
    //background-color: #ebf3f9;
    border-radius: 18px;
    border: 1px solid #d8e4ee;
    background-image: url('images/messageb.png');
    background-size: 100% auto;
    //position: relative;
    //top:-30px;
    padding-top: 15px;
    padding-bottom: 0px;
    //box-shadow: 0 0 10px rgba(150, 150, 150, 1), inset 0px 0px 15px rgba(220, 220, 220, 1);
  }
}

.fcon {
  //background-image: url('images/gew_29.png');
  //background-size: auto 100%;
  //background-color: #3d4b54;
  max-width: 100%;
  //margin-top: 20px;
  //padding-top: 20px;
  //border-top: 5px solid #afbec8;
  display: flex;
  justify-content: center;

  .footer {
    font-family: arial;
    font-size: 11px;
    color: #d3cbc3;
    text-decoration: none;
    text-align: center;
    padding: 0;
    padding-top: 20px;
    padding-bottom: 13px;
    //width: 600px;
  }
}

.footer a {
  font-family: verdana;
  font-size: 11px;
  color: #d3cbc3;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  margin-top: 25px;
  margin-bottom: 20px;
}

.optinbox {
  border: 4px dashed #db0101;
  background-color: #fffcf4;
  font-family: "trebuchet ms", arial;
  font-size: 14px;
  color: black;
  max-width: 350px;
  margin: auto;
  padding: 35px 30px;

  .optintext {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
  }
  .optinprivacy a {
    font-size: 9px;
    text-align: center;
    color: gray;
  }
  div {
    margin-bottom: 10px;
    text-align: center;
    span {
      display: inline-block;
      min-width: 50px;
    }
  }
  .optinsubmit {
    width: 200px;
    height: 60px;
    font-family: "trebuchet ms", arial;
    font-size: 17px;
    font-weight: bold;
    background-color: #db0101;
    border: 2px inherit #c55326;
    color: white;
  }
}



@media screen and (max-width: 800px) {
  .full {
    padding-left: 20px;
    padding-right: 20px;
  }
  .head0{
    font-size: 5vw;
    line-height: 5vw;
  }
  .head3{
    font-size: 4.5vw;
    line-height: 4.5vw;
  }

  //.header .container > div{
  //  flex-direction: column;
  //  justify-content: space-around;
  //}
  .header2 span{
    width: auto;
  }
}

@media screen and (max-width: 450px) {
  .testimonial-text img, .product-text img, .bonus-text img, .guarantee-text img {
    //max-width: 250px;
    //display: block;
    //margin:auto;
    //width: 100%;
  }
  .bg-lleft, .bg-rright, .bg-left, .bg-top, .bg-right, .bg-bleft, .bg-bottom, .bg-bright {
    display: none;
  }

  .os-body{
    width: 100%;
  }

  ul{
    margin: 0px;
  }

  .header1{
    font-size: 12vmin;
    //padding-left: 20px;
  }
  .header2{
    //margin-top: 20px;
    padding-left: 20px;
    font-size: 14px;
    //top: -35px;
  }

  .head0{
    font-size: 7vw;
    line-height: 7vw;
  }
  .head3{
    font-size: 5vw;
    line-height: 5vw;
  }
}